* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
     scroll-behavior: smooth;
}

body {
     background: linear-gradient(to bottom, #ffe4ec, #ffd6e7, #ffc4dd);
     overflow-x: hidden;
     color: #333;
}

section {
     padding: 80px 20px;
}

.container {
     width: 90%;
     max-width: 1200px;
     margin: auto;
}

/* Hero */
.hero {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     flex-direction: column;
     text-align: center;
}

.cake {
     width: 350px;
     height: 400px;
     background: #ff9fc4;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
     animation: bounce 2s infinite;
}

.cake span {
     font-size: 80px;
}

.cake h1 {
     margin-top: 10px;
     font-size: 20px;
     color: white;
}

@keyframes bounce {

     0%,
     100% {
          transform: translateY(0);
     }

     50% {
          transform: translateY(-15px);
     }
}

/* Cards */
.cards {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
}

.size {
     width: 230px;
     height: 350px;
}

.nice{
     width: 450px;
     height: 290px;
}

.card {
     height: 450px;
     width: 500px;
     background: rgba(255, 255, 255, 0.7);
     padding: 30px;
     border-radius: 30px;
     backdrop-filter: blur(10px);
     transition: 0.5s;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
     transform: translateY(-10px);
}

.placeholder {
     width: 100%;
     height: 250px;
     background: #ffb7d2;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 30px;
     margin-bottom: 20px;
}

.card h2 {
     color: #ff4f8a;
     margin-bottom: 15px;
     font-size: 32px;
}

.card p {
     line-height: 1.8;
     color: #555;
}

/* Timeline */
.title {
     text-align: center;
     margin-bottom: 60px;
}

.title h2 {
     font-size: 50px;
     color: #ff4f8a;
}

.timeline-item {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 40px;
     align-items: center;
     margin-bottom: 50px;
}

.timeline-text h3 {
     font-size: 35px;
     margin-bottom: 20px;
}

.timeline-text p {
     line-height: 1.8;
     color: #555;
}

/* Countdown */
.countdown-box {
     background: rgba(255, 255, 255, 0.7);
     border-radius: 40px;
     padding: 50px 20px;
     text-align: center;
     backdrop-filter: blur(10px);
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.countdown {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
     margin-top: 40px;
}

.time {
     background: #ffd0e2;
     padding: 30px 20px;
     border-radius: 25px;
}

.time h3 {
     font-size: 50px;
     color: #ff4f8a;
}

.time p {
     margin-top: 10px;
     text-transform: uppercase;
     color: #666;
}

/* Gallery */
.gallery {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}

.gallery-item {
     aspect-ratio: 1/1;
     background: #ffb7d2;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 28px;
     transition: 0.5s;
}

.gallery-item:hover {
     transform: scale(1.05);
}

/* Final */
.final {
     text-align: center;
}

.final h2 {
     font-size: 60px;
     color: #ff4f8a;
     margin-bottom: 30px;
}

.final p {
     max-width: 700px;
     margin: auto;
     line-height: 2;
     color: #555;
}

.btn {
     margin-top: 40px;
     padding: 18px 45px;
     border: none;
     border-radius: 50px;
     background: #ff4f8a;
     color: white;
     font-size: 18px;
     cursor: pointer;
     transition: 0.5s;
}

.btn:hover {
     transform: scale(1.05);
}

/* Responsive */
@media(max-width: 900px) {

     .cards,
     .timeline-item,
     .gallery,
     .countdown {
          grid-template-columns: 1fr;
     }

     .title h2,
     .final h2 {
          font-size: 40px;
     }

     .timeline-text h3 {
          font-size: 28px;
     }
}